<%= form_tag '/admin_search', method: 'post', :id => 'form', :class => 'form-inline my-2 my-lg-0' do %>
     <%= text_field_tag :query, "", :class =>'form-control mr-sm-2', list: "user" %>
     <datalist id="user"> 
    </datalist>
      <%= submit_tag "Search",:id => 'searchBtn',:class => 'btn btn-outline-primary my-2 my-sm-0'%>
      <% end %>

 <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Profile Photo</th>
      <br>
      
    </tr>
  </thead>


<tbody>
	<% @user.order('id desc').each do |a| %>

	<div id = "user_<%=a.id%>">
		<td><%= a.username %></td>
		<td><%= a.email %></td>
		<td><%= a.gender %></td>
		<td><%=image_tag((a.profile_photo.url), :class=> "profile-photo") if a.profile_photo?%></td>
		<td><%= link_to 'Delete user', {action: :destroy, id: a.id}, method: :delete, remote: true, data:{ confirm: 'Are you sure?'} %></td>
		<br>

	</div>
</tbody>
<%end%>