<h1> New Post</h1>

<%= form_for(@post, url:"/newpost", html:{method: "post"}) do |f| %>
  

  <div class="field">
    <%= f.label :caption %>
    <%= f.text_field :caption %>
  </div>

  
    <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image,multiple: true %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="actions">
    <%= f.submit "Create"%>
  </div>
<% end %>
